<head>
    <meta charset="utf-8">
    <link href="/css/css/bootstrap.min.css" rel="stylesheet">
</head>
    <body>
    <div class="container">
        <br>
        <p class="lead">Введите слово для перевода:</p>
        <br>
        <form action="translate">
            <input type="text" name="word">
            <input type="submit" value="перевести">
        </form>
    </div>
    </body>

</html>